.container{
    width: 50vw;
    height: 50vh;
    margin-top: 40%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    background-color: rgb(207, 231, 223);
  }

.container h1{
    font-size: 2em;
    line-height: 1.1;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    padding-top: 15%;
}

.total{
    font-size: 3em;
}