.form{
    width: 100%;
    padding: 4% 15%;
    margin: 8px 0;
    box-sizing: border-box;
}
.form .btn{
    text-align: center;
    font-size: 1em;
    padding:1%;
    margin: 2%;
    background-color: rgb(43, 142, 223);
    border-radius: 10%;
    border:  1px solid black;
}