#nav{
    background-color: rgba(81, 240, 240, 0.247);
    height: 4em;
    align-items: center;
}

#nav a{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #2098c7;
    text-decoration: none;
    text-transform: uppercase;
    margin:0 10px;



}
#nav :hover{
    color:black;
}

